
* {
	margin:0;
	padding:0;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}
body {
	font-family: "Arial", sans-serif;
	font-size: 16px;
	color:#777777;
}

.wrapper{
	margin: 100px auto;
	background: rgb(46, 90, 137);
	background: -moz-radial-gradient(ellipse at 20% 30%, rgb(46, 90, 137) 5%, rgb(22, 40, 60) 85%);
	background: -webkit-radial-gradient(ellipse at 20% 30%, rgb(46, 90, 137) 5%, rgb(22, 40, 60) 85%);
	background: -o-radial-gradient(ellipse at 20% 30%, rgb(46, 90, 137) 5%, rgb(22, 40, 60) 85%);
	background: -ms-radial-gradient(ellipse at 20% 30%, rgb(46, 90, 137) 5%, rgb(22, 40, 60) 85%);
	background: radial-gradient(ellipse at 20% 30%,  rgb(46, 90, 137) 5%, rgb(22, 40, 60) 85%);
	width:1007px;
	min-height: 600px;
    height:100%;
}
.header-prop{
	padding-top:51px;
}
.logo {
	padding-left:57px;
	margin-bottom: 5px;
}
.logo-img {
	z-index: 10;
	position: relative;
	z-index: 7;
}

.logo-shadow {
    background: rgba(70,129,177,1) none repeat scroll 0 0;
    border-radius: 1px;
    box-shadow: -200px 7px 56px 100px rgba(70, 129, 177, 1);
    height: 1px;
    left: 30%;
	position: relative;
	z-index: 5;
    transform: scaleY(0.6);
    width: 1px;

    }

.main-content {
		background-color: #f2f2f2;
		width:940px;
		margin:0 auto;
		min-height:400%;
        height: 100%;
		border-radius: 5px;
		position: relative;
		z-index: 7;
        display:table;
        padding-bottom: 20px;
}
.leftcolumn {
	float:left;
	width:412px;
	padding-top: 75px;
    background-color: #f2f2f2;
    min-height:400%;
    height:100%;

}
.span404 {
	font-family: 'BNEmulator';
	font-size: 130pt;
	margin-left:20px;
    color: rgba(0, 50, 100, 0.83);
	text-shadow: 4px 6px 6px #fff, 0 0 0 #000, 6px 9px 6px #fff;

    /*font-family: 'BNEmulator';
	font-size: 140pt;
  	color: transparent;
  	text-shadow: 0.05em 0.05em 0.05em rgba(255, 255, 255, 0.25), 0 0 0 #2d5b89;*/
}

.oops {
	min-width:352px;
    display:table;
	min-height:44px;
    height: 100%;
	margin-left:-24px;
	padding-left: 46px;
	line-height: 1.7;
	color:#fff;
	font-size: 28px;
	background: rgba(165,165,165,1);
	background: -moz-linear-gradient(top, rgba(165,165,165,1) 0%, rgba(101,101,101,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(165,165,165,1)), color-stop(100%, rgba(101,101,101,1)));
	background: -webkit-linear-gradient(top, rgba(165,165,165,1) 0%, rgba(101,101,101,1) 100%);
	background: -o-linear-gradient(top, rgba(165,165,165,1) 0%, rgba(101,101,101,1) 100%);
	background: -ms-linear-gradient(top, rgba(165,165,165,1) 0%, rgba(101,101,101,1) 100%);
	background: linear-gradient(to bottom, rgba(165,165,165,1) 0%, rgba(101,101,101,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5a5a5', endColorstr='#656565', GradientType=0 );
    position: relative;
    border-radius:3px;

}

.oops:before,
.oops:after {
    content: "";
    position: absolute;
    top: 99%;
}

.oops:before {
    border-top: 23px solid #888;
    border-left: 23px solid transparent;
    left:1px;
}

.oops:after {
    left: 9px;
    border-top: 15px solid #222;
    border-left: 15px solid transparent;
}

.warning-icon {
	margin:-10px 0 0 10px;
}

.rightcolumn {
	width:506px;
	min-height: 399px;
    height:100%;
	float:right;
	box-shadow:  -16px 0 20px -23px rgba(0, 0, 0, .8);
	margin-left:-21px;
	padding-left: 22px;
	position: relative;
    background-color: #f2f2f2 ;
}


.rightcolumn:before{
    content: '';
    position: absolute;
    z-index: -1;
    top: 160px; left: -6px;
    width: 60px;
    height: 60px;
    margin: -20px 0 0;
    background: #000;
    border-radius: 50%;
}


.right-article {
	padding: 27px 0 35px;
}

.heading-h1 {
	color: #2a5580;
	line-height: 2;
    display:table;
	font-size: 22px;

}
.article-p {
	color:#777777;
	font-size: 13px;
	margin-right: 20px;
	line-height: 1.3;
}

nav {
	position: relative;

    width:100%;
}
.heading-h2 {
	font-size: 15px;
	color:#fff;
    border-radius: 4px 3px 3px 4px / 14px 3px 2px 14px;
	-moz-border-radius: 4px 3px 3px 4px / 14px 3px 2px 14px;
    -webkit-border-radius: 4px 3px 3px 4px / 14px 3px 2px 14px;
	min-width:245px;
    display:table;
	height:27px;
	line-height: 1.7;
	padding-left: 24px;
    padding-right: 5px;
	margin-left: -28px;
	background: rgba(55,118,180,1);
	background: -moz-linear-gradient(top, rgba(55,118,180,1) 0%, rgba(35,71,109,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(55,118,180,1)), color-stop(100%, rgba(35,71,109,1)));
	background: -webkit-linear-gradient(top, rgba(55,118,180,1) 0%, rgba(35,71,109,1) 100%);
	background: -o-linear-gradient(top, rgba(55,118,180,1) 0%, rgba(35,71,109,1) 100%);
	background: -ms-linear-gradient(top, rgba(55,118,180,1) 0%, rgba(35,71,109,1) 100%);
	background: linear-gradient(to bottom, rgba(55,118,180,1) 0%, rgba(35,71,109,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3776b4', endColorstr='#23476d', GradientType=0 );
	position: relative;

}

.menu {
    margin-top:10px;
    padding:0px;
    list-style-type: none;
    background:#f2f2f2;
    color:#999999;
    display:inline-block;
    font-size:12px;
}
.menu li {
    color:#555555;
    padding:5px 0;
    border-bottom:solid 2px #CCCCCC;
    width:215px;
}

.menu li:nth-child(n+5){
    margin-left: 240px;
}

.menu li:nth-child(5){
    margin-top: -108px;
}

.menu li:hover {
    cursor:pointer;
    background-color: #CCC;
    border-radius: 5px;
    background: #f2f2f2; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2f2f2 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2f2f2 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2f2f2 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2f2f2 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f2f2f2 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

}
.menu li:before {
    content:'\21E2';
    padding-top:0.1em;
    left:0px;
    line-height:100%;
    padding-right: 12px;
}
/*Social buttons*/

.heading-h3 {
	font-size: 15px;
	color:#28517a;
	float:left;
	line-height: 1.6;

}

.clearboth {
	clear: both;
	margin-top:88px;
	width:520px;
}



/*Social buttons*/
.social-group {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	min-height: 28px;
	padding: 0 5px 0 9px;
	font-size: 0;
	line-height: 25px;
    width:101px;
    margin: 0 0 0 8px;
}
.social-inner {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 28px;
	bottom: 0;
	left: 0;
}
.social-group:before,
.social-inner:before,
.social-inner:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	background: #d7d7d7;
}
.social-group:before {
	clip: rect(auto, auto, auto, 30px);
	right: 0;
	width: 58px;
	border-radius: 0 6px 6px 0;
	box-shadow: inset -2px 3px 3px rgba(0, 0, 0, .5);
}
.social-inner:before,
.social-inner:after {
	right: -50px;
	left: 0;
	box-shadow: inset 2px 3px 3px rgba(0, 0, 0, .5);
}
.social-inner:before {
	clip: rect(auto, auto, 14px, auto);
	transform: skewX(-30deg);
}
.social-inner:after {
	clip: rect(13px, auto, auto, auto);
	transform: skewX(30deg);
}


.soc-img {
	z-index: 100;
	margin:6px 5px;
	box-shadow: 2px 2px 2px 0 #a8a8a8;
	position: absolute;
}

#soc-img2 {
	margin:6px 35px;
}

#soc-img3 {
	margin:6px 65px;
}

/*Search input form*/
.search-block {
	float:right;
	position: relative;
}

input {
	width: 200px;
  	height: 23px;
  	border-radius: 5px;
  	border:2px solid #b1b1b1;
  	padding-left: 5px;
  	color:#b1b1b1;
}
.icon {
	margin:0 26px 0 8px;
	padding:3px 5px;
	border-bottom:2px solid #b1b1b1;
	border-radius: 50%;
	background-color: #f1f1f1;
	position: relative;
    z-index: 5;
    cursor:pointer;
}

.icon-shadow {
    background: rgba(20, 20, 20, 0.9) none repeat scroll 0 0;
    border-radius: 1px;
    box-shadow: 1px -6px 4px 10px rgba(0, 0, 0, 0.5);
    height: 1px;
    left: 96%;
    margin-left: -30px;
    position: absolute;
    transform: scaleY(0.3);
    width: 1px;
     z-index: 1;
    }