* {
	margin:0;
	padding:0;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}
body {
	font-family: "Arial", sans-serif;
	font-size: 16px;
	color:#777777;
}

.wrapper{
	margin: 10px auto;
	background: rgb(46, 90, 137);
	background: -moz-radial-gradient(ellipse at 20% 30%, rgb(46, 90, 137) 5%, rgb(22, 40, 60) 85%);
	background: -webkit-radial-gradient(ellipse at 20% 30%, rgb(46, 90, 137) 5%, rgb(22, 40, 60) 85%);
	background: -o-radial-gradient(ellipse at 20% 30%, rgb(46, 90, 137) 5%, rgb(22, 40, 60) 85%);
	background: -ms-radial-gradient(ellipse at 20% 30%, rgb(46, 90, 137) 5%, rgb(22, 40, 60) 85%);
	background: radial-gradient(ellipse at 20% 30%,  rgb(46, 90, 137) 5%, rgb(22, 40, 60) 85%);
	width:1007px;
	min-height: 600px;
    height:100%;
}
.header-prop{
	padding-top:50px;
}
.logo {
	padding-left:58px;
	margin-bottom: 3px;
}
.logo-img {
	z-index: 10;
	position: relative;
	z-index: 7;
}

.logo-shadow {
    background: rgba(70,129,177,1) none repeat scroll 0 0;
    border-radius: 1px;
    box-shadow: -200px 7px 56px 100px rgba(70, 129, 177, 1);
    height: 1px;
    left: 30%;
	position: relative;
	z-index: 5;
    transform: scaleY(0.6);
    width: 1px;
}

.main-content {
		background-color: #f2f2f2;
		width:940px;
		margin:0 auto;
		min-height:400%;
        height: 100%;
		border-radius: 5px;
		position: relative;
		z-index: 7;
        display:table;
        padding: 3px 0;
}

.leftcolumn {
	float:left;
	width:412px;
	padding-top: 75px;
    background-color: #f2f2f2;
    height:100%;

}

.span404 {
	font-family: 'BNEmulator';
	font-size: 129pt;
	margin-left:22px;
    color: rgba(0, 50, 100, 0.82);
	text-shadow: 3px 4px 4px #fff, 0 0 0 #000, 3px 4px 4px #fff;
    letter-spacing: -2px;
}

.oops {
	min-width:352px;
    display:table;
	min-height:44px;
    height: 100%;
    max-height: 44px;
	margin-left:-24px;
	padding-left: 46px;
	line-height: 1.6;
	color:#fff;
	font-size: 1.747em;
	background: rgba(165,165,165,1);
	background: -moz-linear-gradient(top, rgba(165,165,165,1) 0%, rgba(101,101,101,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(165,165,165,1)), color-stop(100%, rgba(101,101,101,1)));
	background: -webkit-linear-gradient(top, rgba(165,165,165,1) 0%, rgba(101,101,101,1) 100%);
	background: -o-linear-gradient(top, rgba(165,165,165,1) 0%, rgba(101,101,101,1) 100%);
	background: -ms-linear-gradient(top, rgba(165,165,165,1) 0%, rgba(101,101,101,1) 100%);
	background: linear-gradient(to bottom, rgba(165,165,165,1) 0%, rgba(101,101,101,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5a5a5', endColorstr='#656565', GradientType=0 );
    position: relative;
    border-radius:3px;
    margin-top: -8px;
}

.oops:before,
.oops:after {
    content: "";
    position: absolute;
    top: 99%;
}

.oops:before {
    border-top: 23px solid #888;
    border-left: 23px solid transparent;
    left:1px;
}

.oops:after {
    left: 6px;
    border-top: 18px solid #222;
    border-left: 18px solid transparent;
}

.warning-icon {
	margin:-10px 0 0 10px;
}

.rightcolumn {
	width:528px;
	min-height: 395px;
	height:100%;
	float:right;

	position: relative;
	background-color: #f2f2f2 ;
	z-index: 5;
}
.rightcolumn:before,
.rightcolumn:after {
    content:"";
    position:absolute;
    z-index:-2;
}

.rightcolumn:before {
    top:20px;
    bottom:20px;
    left:0;
    right:20%;
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
       -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
            box-shadow:0 0 15px rgba(0,0,0,0.6);
    -moz-border-radius:10px / 100px;
         border-radius:10px / 100px;
}
.bg-rightcolumn {
	background-color: #f2f2f2;
	position: absolute;
	height: 100%;
}

.right-article {
	padding: 17px 0 36px;
    background-color: rgb(242, 242, 242);
}

.heading-h1 {
	color: #2a5580;
	line-height: 1.5;
    display:table;
	font-size: 1.35em;
	margin-left: -2px;
    padding-left: 22px;
    font-weight: normal;
}
.article-p {
	color:#777777;
	font-size: 13px;
	margin-right: 20px;
	line-height: 1.4;
    padding-left: 22px;
    font-stretch: expanded;
}

nav {
	position: relative;
    width:100%;
    background-color: rgb(242, 242, 242);
}
.heading-h2 {
	font-size: 15px;
	color:#fff;
    border-radius: 4px 3px 3px 4px / 14px 3px 2px 14px;
	-moz-border-radius: 4px 3px 3px 4px / 14px 3px 2px 14px;
    -webkit-border-radius: 4px 3px 3px 4px / 14px 3px 2px 14px;
	min-width:224px;
    display:table;
	height:27px;
	line-height: 1.8;
	padding-left: 29px;
	margin-left: -8px;
	margin-bottom: 9px;
	font-weight: normal;
	background: rgba(55,118,180,1);
	background: -moz-linear-gradient(top, rgba(55,118,180,1) 0%, rgba(35,71,109,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(55,118,180,1)), color-stop(100%, rgba(35,71,109,1)));
	background: -webkit-linear-gradient(top, rgba(55,118,180,1) 0%, rgba(35,71,109,1) 100%);
	background: -o-linear-gradient(top, rgba(55,118,180,1) 0%, rgba(35,71,109,1) 100%);
	background: -ms-linear-gradient(top, rgba(55,118,180,1) 0%, rgba(35,71,109,1) 100%);
	background: linear-gradient(to bottom, rgba(55,118,180,1) 0%, rgba(35,71,109,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3776b4', endColorstr='#23476d', GradientType=0 );
}
.heading-h2:before{
    background-color: #000;
    border-radius: 52%;
    content: "";
    height: 45%;
    left: -8px;
    margin: -17px 0 0;
    position: absolute;
    width: 14%;
    z-index: -10;
}

.menu {
    padding-left:23px;
    list-style-type: none;
    background:#f2f2f2;
    color:#999999;
    display:inline-block;
    font-size: 0.7em;

}
.menu li {
    color:#777;
    padding:5px 0px 6px 18px;
    border-bottom:solid 1px #d8dbe0;
    width:196px;
    background-image: url(../img/arrow.jpg);
    background-repeat: no-repeat;
    background-position: left 10px;
    font-size: 1.1em;

}
.menu li:hover {
    cursor:pointer;
    }

.menu li:nth-child(n+5){
    margin-left: 233px;
    display:table;
}

.menu li:nth-child(5){
    margin-top: -108px;
}

/*Social buttons*/

.clearboth {
	clear: both;
	margin-top:42px;
	width:506px;
}

/*Social buttons*/

.heading-h3 {
	font-size: 15px;
	color:#28517a;
	float:left;
	line-height:2;
	width:86px;
    display: block;
    margin-left: 21px;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
}


.social-group {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	min-height: 28px;
	padding: 0 5px 0 11px;
	font-size: 0;
	line-height: 25px;
    width:101px;
    margin: 0 0 0 7px;
}
.social-inner {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 28px;
	bottom: 0;
	left: 0;
}
.social-group:before,
.social-inner:before,
.social-inner:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	background: #d7d7d7;
}
.social-group:before {
	clip: rect(auto, auto, auto, 30px);
	right: 0;
	width: 58px;
	border-radius: 0 6px 6px 0;
	box-shadow: inset 0px 3px 3px rgba(0, 0, 0, .5);
}
.social-inner:before,
.social-inner:after {
	right: -50px;
	left: 0;
	box-shadow: inset 2px 3px 3px rgba(0, 0, 0, .5);
}
.social-inner:before {
	clip: rect(auto, auto, 14px, auto);
	transform: skewX(-30deg);
}
.social-inner:after {
	clip: rect(13px, auto, auto, auto);
	transform: skewX(30deg);
}


.soc-img {
	z-index: 100;
	margin:6px 5px;
	box-shadow: 2px 2px 2px 0 #a8a8a8;
	position: absolute;
}

#soc-img2 {
	margin:6px 35px;
}

#soc-img3 {
	margin:6px 65px;
}

/*Search input form*/
.search-block {
	float:right;
	position: relative;
}

input {
    width: 205px;
    height: 24px;
    border-radius: 5px;
    border: 1px solid #B1B1B1;
    padding-left: 9px;
    margin-right: 5px;
    color: #B1B1B1;
}
.icon {
    cursor:pointer;
    background-image: url("../img/search-icon.jpg");
    background-repeat: no-repeat;
    padding: 16px 25px;
    float:right;
    margin-top: -2px;
    margin-right: 2px;
}

